body {
  &.admin-menu {
    margin-top: 28px !important;
    margin-bottom: -28px;
  }
}

.tabs {
  background: $gray;
  position: absolute;
  top: 200px;
  right: 0;
  line-height: 22px;
  list-style: none;
  @include device(tablet){
    display: none;
  }
  li {
  }
  a {
    display: block;
    padding: ($margins/4) $margins;
  }
}

.messages {
  background: #fff;
  margin-bottom: $margins;
  padding: 20px;
  border: 1px solid $gray;
}
