body {
  &.admin-menu {
    margin-top: 28px !important;
    @include device(phone){
      margin-top: 0 !important;
    }
  }
}
#admin-menu {
  @include device(phone){
    display: none;
  }
}

.tabs {
  background: $gray;
  position: absolute;
  top: 200px;
  right: 0;
  line-height: 22px;
  list-style: none;
  border-color: #fff;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  padding: $margins/4 0;
  @include device(tablet){
    display: none;
  }
  li {
  }
  a {
    display: block;
    padding: ($margins/4) $margins;
  }
}

.messages {
  background: #fff;
  margin-bottom: $margins;
  padding: 20px;
  border: 1px solid $gray;
}
