.category-a {
  margin-bottom: $margins;
  article {
    a {
      @include block-std;
    }
  }
}
.category-b {
  margin-bottom: $margins;
  > section {
    @include clearfix;
    background: #fff;
    margin-bottom: 5px;
    padding: $margins;
    > article {
      float: left;
      width: percentage(1/2);
      a:hover { color: $green-hover-header; }
    }
  }
}
.category-c {
  margin-bottom: $margins;
  article {
    a {
      @include block-std;
      img {
        float: left;
        margin: (-$margins) $margins 0 (-$margins);
      }
      @include device(phone) {
        height: auto;
        img {
          display: none;
        }
      }
    }
  }
}
.category-d {
  margin-bottom: $margins;
  > section {
    @include clearfix;
    background: #fff;
    margin-bottom: 5px;
    padding: $margins;
    > article {
      float: left;
      width: percentage(1/2);
      a:hover { color: $green-hover-header; }
    }
  }
}
@include device(phone) {
  .category-a,
  .category-b,
  .category-c,
  .category-d {
    article {
      a {
        height: auto;
      }
    }
  }
}
