.contact {
  @include clearfix;
  background: #fff;
  margin-bottom: $margins;
  h2 {
    margin-top: $margins;
    margin-bottom: $margins/2;
  }
  h3 {
    font-size: 13px;
    margin-bottom: $margins/2;
  }
  > div {
    @include float-span(3.5);
    @include device(phone){
      width: 50%;
      margin: 0;
    }
    &:last-child {
      float: none;
      width: auto;
      margin: 0;
    }
  }
  > span {
    float: left;
    margin-right: $margins;
  }
  img {
    display: block;
  }
}
