.contact {
  @include clearfix;
  background: #fff;
  margin-bottom: $margins;
  @include device(phone){
    padding: $margins/2;
  }
  h2 {
    margin-top: $margins;
    margin-bottom: $margins/2;
    @include device(phone){
      font-size: 16px;
    }
  }
  h3 {
    font-size: 13px;
    margin-bottom: $margins/2;
  }
  > div {
    @include float-span(3.5);
    @include device(phone){
      width: 100%;
      float: none;
      margin: 0;
      margin-bottom: $margins/4;
      clear: left;
    }
    &:last-child {
      float: none;
      width: auto;
      margin: 0;
    }
  }
  > span {
    float: left;
    margin-right: $margins;
    @include device(phone){
      margin-right: $margins/2;
      margin-bottom: $margins/2;
    }
  }
  img {
    display: block;
  }
}
