.js-cookie-information-popup {
  position: relative;
  z-index: 3000;
  width: 100%;
  clear: both;
  text-align: center;
  .cookie-information-container {
    background: $green;
    position: relative;
    overflow: visible;
    padding: 20px;
    @include device(phone) {
      text-align: center;
    }
    label {
      font-size:12px;
      font-weight: 800;
    }
    p {
      font-size: 10px;
      margin-bottom: 10px;
      font-weight: 300;
      color: #555;
      line-height: 125%;
      @include device(phone) {
        margin:0;
      }
    }
    a {
      font-size: inherit;
      font-weight: inherit;
      text-decoration: underline;
    }

    .close {
      color: #fff;
      cursor: pointer;
      background: #7c9500;
      display: inline-block;
      line-height: 40px;
      width: 200px;
      height: 40px;
      @include device(phone) {
        position: relative;
        padding: 10px 30px;
        left: auto;
        right: auto;
        line-height: 100%;
        top: auto;
        display: inline-block;
        width: auto;
        margin-top: 20px;
      }
      &:hover {
        background: $green-dark;
        color: white;
      }
    }
  }
}
