.element-invisible {
  display: none;
}

* {
  @include box-sizing(border-box);
  @include font;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  background: $body-color;
  height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h1 {
}
h2 {
}
h3 {
  font-size : 16px;
}
p {
  margin-bottom: 20px;
}

.content {
  ul, ol {
    margin-left: 20px;
  }
}

div.page-wrapper {
  margin:0px auto;
  max-width:960px;
}