%content {
  margin: 0 auto;
  width: $content-width;
  @include device(tablet-portrait){
    padding: 0;
    width: 100%;
  }
  @include device(phone){
    padding: 0;
    width: 100%;
  }
}

/* FONTS */
%header-fontfamily {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
%font {
  color: $text-color;
  font-size: $default-fontsize;
  font-family: "Tahoma", sans-serif;
}
%font-bold {
  font-weight: 700;
}
%footer-h2 {
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-green;
  display: block;
  font-size: 13px;
  line-height: 20px;
}

/* BTN */
%btn-green {
  background: $green;
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 0 $margins/2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:before {
    @include opacity(.1);
    background: #000;
    position: absolute;
    bottom: 1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
  }
  &:after {
    @include opacity(.3);
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    content: "";
  }
  &:hover {
    background: $green-hover;
    text-decoration: none;
    color: #fff;
  }
}

/* FORM ELEMENTS */
%form-text {
    background: #fff;
    padding: 0 $margins/2;
    width: 100%;
    max-width: 500px;
    height: 2*$margins;
    border: $border-width solid $gray;
    &:focus { border: $border-width solid $green; }
}
%submit {
  @extend %btn-green;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #798800;
  &:hover { border-bottom: 1px solid #576800; }
}

/* COLORS */
%menu-gradient {
  background-color: rgb(255,255,255);
  @include background-image-with-ms(linear-gradient(top,  rgb(255,255,255) 0%,$gray-semilight 50%,rgb(255,255,255) 100%));
}


/* Standard Block */
%block-std {
  @include background-image('arrow-r');
  display: block;
  margin-bottom: $margins/4;
  padding: $margins;
  padding-right: $margins*2.5;
  height: $block-height;
  overflow: hidden;
  background-color: #fff;
  background-size: 16px 28px;
  background-repeat: no-repeat;
  background-position: right $margins center;
  @include device(phone){
    background-position: right $margins/2 center;
    padding: $margins/2;
    padding-right: $margins*2;
  }
  &:hover {
    @include background-image('arrow-r');
    text-decoration: none;
    background-color: $green-block-hover;
    background-size: 16px 28px;
    background-repeat: no-repeat;
    color: $text-color;
  }
  a {
    text-decoration: none;
    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}


