article.expanding {
  background: #ffffff;
  margin-bottom: 5px;
  clear: both;
  &:hover {
    background: $green-block-hover;
  }
  > .textbox-title {
    font-size: 16px;
    cursor: pointer;
    background-size: 29px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &.collapsed {
    padding-right: 20px;
    cursor: pointer;
    > .textbox-title {
      @include background-svg('arrow-down');
      padding: $margins;
      padding-right: 40px;
      margin-bottom: 0px;
    }
    > p { display: none; }
    .expanding { display: none; }
  }
  &.expanded {
    background: $gray-verylight !important;
    padding: $margins;
    cursor: auto;
    > .textbox-title {
      @include background-svg('arrow-up');
      padding: 0px;
      padding-right: 40px;
    }
    > p { display: block; }
  }
}

div.expanding {
  clear: both;
  margin-bottom: 10px;
  a {
    cursor: pointer;
  }
  .textbox-title {
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 2px;
    a {
      font-size: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .textbox-content {
    font-size: 13px;
    padding-left: 20px;
    p {
      font-size: inherit;
    }
    a {
      font-size: inherit;
      text-decoration: underline;
    }
  }

  &.collapsed {
    p { display: none; }
  }
  &.expanded {
    p { display: block; }
    .textbox-title, .textbox-title a { color: $green-hover;}
  }
}
