footer {
  background: $gray;
  position: relative;
  z-index: 10;
  > section {
    @include clearfix;
  }
  .onecol {
    padding-top: 30px;
  }
  .bottom {
    background: $gray-dark;
    @include device(tablet-portrait){
      padding: 0 10px;
    }
  }
}
.footer-menu {
  @extend %content;
  @include clearfix;
  padding-bottom: $margins;
  ul {
    list-style: none;
  }
  > ul {
    @extend %content;
    @include clearfix;
    > li {
      @include float-span(4);
      float: left;
      @include device(tablet-portrait){
        @include float-span(7.837);
        margin-bottom: 20px;
      }
      @include device(phone){
        @include float-span(16);
        margin-bottom: 20px;
      }
      &.last {
        margin-right: 0;
      }
      > a {
        @extend %header-fontfamily;
        @extend %footer-h2;
        margin-bottom: $margins/2;
        &:hover {
          text-decoration: none;
        }
      }
      li {
        a {
          display: block;
          line-height: 22px;
          text-decoration: underline;
        }
      }
    }
  }
}
.shortcuts {
  @include float-span(8);
  margin-right: 0;
  margin-bottom: $margins;
  @include device(phone){
    @include float-span(16);
  }
  h2 {
    @extend %footer-h2;
  }
  ul {
    list-style: none;
    a {
      text-decoration: underline;
      line-height: 22px;
    }
  }
}
.bottom-menu {
  @extend %content;
  @include clearfix;
  li {
    list-style: none;
    float: left;
  }
  a {
    color: $gray-light;
    padding-right: 20px;
    line-height: 42px;
  }
}
.site-footer-text {
  @include float-span(8);
  @include device(phone){
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 20px;
  }
  h2 {
    @extend %footer-h2;
  }
  > p {
    @include float-span(8);
    margin-right: $margins;
    @include device(phone){
      width: 100%;
      float: none;
    }
  }
  ul {
    list-style: none;
    margin-left: 0;
    a {
      display: block;
      line-height: 22px;
      text-decoration: underline;
    }
  }
}

.site-bottom-text {
  @extend %content;
  text-align: center;
  * {
    color: #fff;
    line-height: 42px;
  }
  ul {
    width: auto;
    margin: 0 auto;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 0 $margins/2;
  }
  table {
    margin: 0 auto;
  }
}
