footer {
  background: $gray;
  > section {
    @include clearfix;
  }
  .onecol {
    padding-top: 30px;
  }
  .bottom {
    background: $gray-dark;
  }
}
.footer-menu {
  @include content;
  @include clearfix;
  padding-bottom: $margins;
  ul {
    list-style: none;
  }
  > ul {
    @include content;
    @include clearfix;
    > li {
      @include float-span(4);
      float: left;
      @include device(phone){
        @include float-span(16);
      }
      &.last {
        margin-right: 0;
      }
      > a {
        @include header-fontfamily;
        @include footer-h2;
        margin-bottom: $margins/2;
        &:hover {
          text-decoration: none;
        }
      }
      li {
        a {
          display: block;
          line-height: 22px;
          text-decoration: underline;
        }
      }
    }
  }
  /*
  li {
    list-style: none;
  }
  a {
    color: $gray-green;
    line-height: 22px;
    border-bottom: 1px solid $gray-green;
    font-size: 13px;
    &:hover {
      color: $green;
      border-bottom: 1px solid $green;
    }
  }
  > ul {
    > li {
      width: 25%;
      @include view-mode(4);
      border-left: 0;
      float: left;
      @include device(phone) {
        padding: 10px;
      }
      > a {
        color: $gray-dark;
        text-transform: uppercase;
        text-decoration: none;
        padding-bottom: 6px;
        margin-bottom: 4px;
        display: inline-block;
        width: 100%;
        &:hover {
          color: $gray-dark;
          border-bottom: 1px solid $gray-green;
        }
      }
    }
  }
  */
}
.shortcuts {
  @include float-span(8);
  margin-right: 0;
  margin-bottom: $margins;
  @include device(phone){
    @include float-span(16);
  }
  h2 {
    @include footer-h2;
  }
  ul {
    list-style: none;
    a {
      text-decoration: underline;
      line-height: 22px;
    }
  }
}
.bottom-menu {
  @include content;
  @include clearfix;
  li {
    list-style: none;
    float: left;
  }
  a {
    color: $gray-light;
    padding-right: 20px;
    line-height: 42px;
  }
}
.site-footer-text {
  @include float-span(8);
  @include device(phone){
    width: 100%;
    float: none;
    margin: 0;
  }
  h2 {
    @include footer-h2;
  }
  > p {
    @include float-span(8);
    @include device(phone){
      width: 100%;
      float: none;
    }
  }
  ul {
    list-style: none;
    margin-left: 0;
    a {
      display: block;
      line-height: 22px;
      text-decoration: underline;
    }
  }
}

.site-bottom-text {
  text-align: center;
  * {
    color: #fff;
    line-height: 42px;
  }
  ul {
    width: auto;
    margin: 0 auto;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 0 $margins/2;
  }
}
