$gallery-button-size: 43px;

.view-gallery, .video-box {
  button {
    width: $gallery-button-size;
    height: $gallery-button-size;
    opacity: 1;
    top:-22px;
    right:-22px;
    border-radius: $gallery-button-size;
    background-color: #fff;
    box-shadow: 0 0 8px 2px $black-transparent;
    font-size: 36px;
    font-weight: bold;
    &.mfp-close-btn-in,
    &.mfp-close {
      color: $green-dark;
    }
    @include device(phone) {
      top: 0;
      right: 0;
    }
  }

.carousel {
  position: relative;
  height: auto;
  margin-bottom: 10px;
  .flex-direction-nav {
    li {
      list-style: none;
    }
    a {
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease);
      position: absolute;
      width: 56px;
      height: 60px;
      top: 45%;
      background-repeat: no-repeat;
      background-color: $gray;
      background-size: 28px 50px;
      background-position: center center;
      color: transparent;
      opacity: 1;
      visibility: visible;
      &.flex-disabled {
        visibility:hidden;
        opacity: 0;
      }
    }
    .flex-prev {
      @include background-image('arrow-slide-dark-l');
      left: -20px;
      &:hover {
        @include background-image('arrow-slide-l-hover');
      }
    }
    .flex-next {
      @include background-image('arrow-slide-dark-r');
      right: -20px;
      &:hover {
        @include background-image('arrow-slide-r-hover');
      }
    }
  }
  img {
    width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: 0;
  }
}


  .thumbnails {
    li {
      max-width: 120px;
      margin: 0 3.1px 0 3.1px;
      list-style: none;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &.flex-active-slide {
        img {
          border: 2px solid $gray-dark;
        }
      }
    }
    img {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .slider {
      position: relative;
    }
    a.flex-prev,
    a.flex-next {
      @include transition-property(all);
      @include transition-duration(0.2s);
      @include transition-timing-function(ease);
      position: absolute;
      width: 28px;
      height: 30px;
      top: 25px;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-color: $gray;
      background-size: 14px 25px;
      background-position: center center;
      color: transparent;
      opacity: 1;
      visibility: visible;
      &.flex-disabled {
        opacity: 0;
        visibility: hidden;
      }
    }
    .flex-prev {
      @include background-image('arrow-slide-dark-l');
      left: -15px;
      &:hover {
        @include background-image('arrow-slide-l-hover');
      }
    }
    .flex-next {
      @include background-image('arrow-slide-dark-r');
      right: -15px;
      &:hover {
        @include background-image('arrow-slide-r-hover');
      }
    }
  }
}
.gallery-popup, .video-box {
  @include box-shadow (0px 0px 47px 0px rgba(0, 0, 0, 0.7));
  max-width: 665px;
  height: auto;
  background-color: $gray;
  div.slider {
    bottom: 0;
  }
}
.video-box {
  position: relative;
  padding: 20px;
  width: auto;
  margin: 20px auto;
  h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
  }
  p {
    line-height: 16px;
  }
  object {
    width: 100%;
  }
}
.file-overlay-open {
  cursor: pointer;
}

a.ajax-popup-link {
  display: block;
  float: right;
  text-align: right;
  position: relative;
  margin: 10px;
  margin-right: 0;
  img {
    width: 358px;
    height: 215px;
    text-align: right;
    float: right;
  }
  &:after {
    @include background-image('icon-zoom');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center center;
    width: 64px;
    height: 64px;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
  }
  &:hover:after {
    @include background-image('icon-zoom-green');
  }
}
