$gallery-button-size: 43px;

.view-gallery {
  button {
    width: $gallery-button-size;
    height: $gallery-button-size;
    opacity: 1;
    top:-22px;
    right:-22px;
    border-radius: $gallery-button-size;
    background-color: #fff;
    color: $green;
  }

.carousel {
  position: relative;
  height: 405px;
  .flex-direction-nav {
    li {
      list-style: none;
    }
    .flex-prev {
      position: absolute;
      left: 0;
      top: 50%;
    }
    .flex-next {
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}


  .thumbnails {
    li {
      max-width: 120px;
      margin: 0 4.5px 0 4.5px;
      list-style: none;
      &:last-child,
      &:first-child {
        margin: 0;
      }
    }
    .slider {
      position: relative;
    }
    .flex-prev {
      position: absolute;
      top: 36px;
      left: 0;
    }
    .flex-next {
      position: absolute;
      top: 36px;
      right: 0;
    }
  }
}
.gallery-popup {
  max-width: 665px;
  height: auto;
}

.ajax-popup-link > img {
  max-width: 100%;
  width: 100%;
}
