/* HEADER */
header {
  background: #fff;
  height: 100px;
  &:before {
    background: $gray-dark;
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 0;
  }
  > .inner {
    @include content;
    position: relative;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    a {
      &:hover {
        color: $green-hover-header;
        text-decoration: none;
      }
    }
  }
}
#logo {
  position: absolute;
  left: 0;
  top: 51px;
}
.top-menu {
  @include clearfix;
  position: absolute;
  left: 0;
  top: 0;
  * {
    font-size: 11px;
    color: #fff;
    line-height: 30px;
  }
  > ul {
    > li {
      margin-right: 35px;
    }
  }
}
.main-menu {
  @include clearfix;
  position: absolute;
  left: 100px;
  top: 30px;
  * {
    font-size: 14px;
  }
  > ul {
    > li {
      > a {
        padding: 0 20px;
        line-height: 70px;
      }
    }
  }
}
