.show-mobile {
  display: none;
  @include device(phone){
    display: block;
  }
}
.page-wrapper {
  @include clearfix;
}
#main {
  aside {
    .menu {
      margin: 0;
      padding: 10px 20px;
      border-left: 3px solid $green;
      list-style: none;
      a {
        &:hover {
          text-decoration: none;
        }
        &.active-trail {
          color: $green-hover;
        }
      }
    }
  }
}
.bc {
  margin-bottom: $margins;
  * {
    color: $gray-green;
    font-size: 12px;
  }
}
.date {
  float: left;
  font-size: 16px;
  line-height: 22px;
  margin-right: $margins/2;
  * {
    font-size: 16px;
  }
}
.summary {
  font-size: 16px;
  * {
    font-size: 16px;
  }
}
