.page-wrapper {
  @include clearfix;
}
#main {
  @include content;
  aside {
    .menu {
      list-style: none;
      margin: 0;
      padding: 10px 20px;
      border-left: 3px solid $green;
      a {
        &:hover {
          color: $green;
          text-decoration: none;
        }
        &.active-trail {
          color: $green;
        }
      }
    }
  }
}
