$sas-color1: #adc200;
$sas-color2: #5f7200;
$sas-color3: #878787;
$sas-color4: #383a34;
$sas-color5: #efba00;
$sas-color6: #d96d02;
$sas-color7: #b41e0a;

// Tables
.sas-table {
  width: 100%;
  border-top: 2px solid $sas-color1;
  border-left: 1px solid $gray-notsodark;
  border-right: 1px solid $gray-notsodark;
  border-bottom: 2px solid $gray-notsodark;
  margin-bottom: $margins;
  margin-top: $margins/2;
  tr {
    td {
      border-bottom: 1px solid $gray-notsodark;
      padding: $margins/4;
      &:first-child {
        padding-left: $margins;
      }
      &:last-child {
        padding-right: $margins;
      }
    }
  }
  .format-strong, .header {
    @extend %header-fontfamily;
    font-weight: 700;
  }
  .pos-left {
    text-align: left;
  }
  .pos-right {
    text-align: right;
  }
  .pos-center {
    text-align: center;
  }
}

