// Tables
.sas-table {
  width: 100%;
  padding: $margins;
  tr {
    td {
      border-bottom: 1px solid $gray-notsodark;
      line-height: 30px;
    }
  }
  .format-strong, .header {
    @extend %header-fontfamily;
    font-weight: 600;
  }
  .pos-left {
    padding-left: $margins;
    text-align: left;
  }
  .pos-right {
    text-align: right;
    padding-right: $margins;
  }
}

