$slideshow-height: 300px;
$slideshow-title: 22px;

.slideshow {
  position: relative;
  margin-bottom: $margins;
  float: left;
  height: $slideshow-height;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  article {
    @extend %content;
    padding: 60px 0 0 0;
  }
  .group-wrapper {
    @include view-mode-overlay;
    @include view-mode(4);
    width: 50%;
    h2 {
      color: #fff;
      font-size: $slideshow-title;
      a {
        font-size: $slideshow-title;
        color: $green;
        margin-top: 0;
        &:hover {
          color: #fff;
        }
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
      margin-top: $margins;
      display: inline-block;
      &:hover {
        color: $green;
      }
    }
  }
  img {
    @include user-select(none);
    user-select: none;
    height: $slideshow-height;
    position: absolute;
    left: 50%;
    margin-left: -800px;
  }
  @include device(phone){ // skal ligge efter images, ellers bliver den overskrevet
    img {
      width: auto;
      max-width: inherit;
    }
    .group-wrapper {
      left: 0;
    }
  }
  ol {
    bottom: $margins/2;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 100;
    > li {
      @include opacity(0.6);
      list-style-type: none;
      display: inline;
      cursor: pointer;
    }
    a {
      background: $gray-light;
      color: $gray-light;
      border-radius: $margins;
      width: $margins;
      height: $margins;
      display: inline-block;
      line-height: $margins;
      text-align: center;
      margin-right: 10px;
      &.flex-active {
        background: $green;
        color: $green;
      }
    }
  }
  .flex-direction-nav {
    @include device(tablet-portrait){
      display: none;
    }
    z-index: 100;
    position: relative;
    max-width: 1600px; // the size of the slideshow image
    margin: 0 auto;
    li { list-style: none; }
    a {
      position: absolute;
      color: rgba(0,0,0,0);
      height: ($margins*2.5)+2;
      background-repeat: no-repeat;
      z-index: 100;
      top: 125px; // sum = half of slide height and half arrow height

    }
    .flex-next {
      @include background-svg('arrow-slide-r');
      right: $margins;
      &:hover {
      @include background-svg('arrow-slide-r-hover');
      }

    }
    .flex-prev {
      @include background-svg('arrow-slide-l');
      left: $margins;
      &:hover {
      @include background-svg('arrow-slide-l-hover');
      }
    }
  }
}
