.toolbox {
  float: right;
  position: relative;
  .print, .share {
    @include border-radius(3px);
    width: 26px;
    height: 26px;
    display: block;
    text-indent: -200px;
    overflow: hidden;
    float: left;
    margin-left: $margins/2;
    cursor: pointer;
    &:hover {
      background-color: $green;
    }
  }
  .print {
    background: $gray-notsolight url('../images/print.png') no-repeat center center;
    .svg & {
      background-image: url('../images/print.svg');
      background-size: 16px auto;
    }
  }
  .share {
    background: $gray-notsolight url('../images/share.png') no-repeat center center;
    .svg & {
      background-image: url('../images/share.svg');
      background-size: 19px auto;
    }
  }
  .addthis_toolbox {
    @include border-radius(3px);
    background: $gray-notsolight;
    position: absolute;
    width: 110px;
    padding: $margins/2 0;
    right: 0;
    top: 30px;
    border: 1px solid $gray-notsodark;
    display: none;
    .show-share & {
      display: block;
    }
    a {
      display: block;
      padding: $margins/4 $margins/2;
    }
    span {
      display: block;
      float: left;
      margin-right: $margins/4;
    }
  }
}
