
$red : #F42D64;

/* ATP colors */
$gray: rgb(230,231,228);
$gray-light: rgb(242,241,240);
$gray-dark: rgb(66,72,68);
$green: rgb(173,194,0);
$green-hover: rgb(124,149,0);
$green-hover-header: rgb(173,194,0);

$body-color: $gray-light;
$text-color: $gray-dark;
$width: 960;
$content-width: $width * 1px;
$border-radius: 4px;
$border-width: 1px;
$border-color: $gray;

/* GRIDS */
$output: 'float';
$grids: 16;
$gutters-in-px: 20; //px
$gutters: $gutters-in-px/(($width - (15*$gutters-in-px))/$grids);
