
$red : #F42D64;

/* ATP colors */
$ligth-gray: #F2F1F0;
$dark-gray: #424848;
$gray: #E6E7E4;
$atp-green: #AFC200;

$body-color: $ligth-gray;
$text-color: #333;
$width: 960;
$content-width: $width * 1px;
$border-radius: 4px;
$border-width: 1px;
$border-color: $gray;

/* GRIDS */
$grids: 16;
$gutter: 20;
$gutter-in-px: 20px;
$grid-in-px: ($width - (($grids - 1) * $gutter)) / $grids;
