/* BREAKPOINTS */
$mobile: "500px";

/* COLORS */
$red: #c00;
$black-transparent: rgba(0,0,0,0.5);
$gray: rgb(230,231,228);
$gray-notsolight: rgb(209,209,209);
$gray-verylight: rgb(236,235,233);
$gray-light: rgb(242,241,240);
$gray-semilight: rgb(95,95,95);
$gray-dark: rgb(66,72,68);
$gray-semidark: rgb(162,165,167);
$gray-notsodark: rgb(196,196,196);
$gray-green: rgb(139,144,136);
$green: rgb(173,194,0);
$green-dark: rgb(105,118,19);
$green-light: lighten($green, 50%);
$green-hover: rgb(124,149,0);
$green-hover-header: $green;
$green-block-hover: rgb(209,219,122);

$body-color: $gray-light;
$text-color: $gray-semilight;
$width: 960;
$content-width: $width * 1px;
$border-radius: 4px;
$border-width: 1px;
$border-color: $gray;

$default-fontsize: 14px;

/* GRIDS */
$output: 'float';
$grid-count: 16;
$grids: $grid-count;
$gutters-in-px: 20; //px
$gutters: $gutters-in-px/(($width - (($grid-count - 1)*$gutters-in-px))/$grid-count);
$margins: $gutters-in-px * 1px;
$margins-pct: percentage($gutters-in-px/$width);


/*  HEIGHTS*/
$block-height: 126px;
