.section-row {
  @include clearfix;
}

.view-mode-1-4-fact {
  @include view-mode(4);
  background: #fff;
  height: 240px;
  padding: 17px;
  padding: 0 $margins $margins $margins;
  border: 1px solid $gray;
  @include device(phone){
    height: auto;
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0 $margins/2 $margins/2 $margins/2;
  }
  .not-first.last & {
    @include grid-span(4,13);
  }
  h3 {
    display: table-cell;
    margin: 0;
    width: inherit;
    width: inherit;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    @include device(phone){
      display: block;
      height: auto;
      padding: 10px 0;
    }
  }
  p {
      border-top : 1px solid $gray-dark;
      padding-top: 20px;
      margin-bottom: 30px;
  }
  a {
    @include btn-green;
  }
}

.view-mode-1-1-l {
  position: relative;
  margin-bottom: $margins;
  .group-section-image-overlay {
    @include view-mode-overlay;
  }
}
.view-mode-1-2-h, .view-mode-1-2-l {
  @include view-mode(8);
}
.view-mode-3-8-h, .view-mode-3-8-l {
  @include view-mode(6);
}
.view-mode-1-4-h, .view-mode-1-4-l {
  @include view-mode(4);
}
.view-mode-1-1-l, .view-mode-1-2-l, .view-mode-3-8-l, .view-mode-1-4-l {
  height: $block-height;
}
.view-mode-1-1-h, .view-mode-1-2-h, .view-mode-3-8-h, .view-mode-1-4-h {
  height: ($block-height*2)+20px;
}

.view-mode-1-2-square {
  @include float-span(8);
  @include clearfix;
  @include block-std;
  margin: 0 0 ($margins/2) $margins-pct;
  padding: 0;
  overflow: hidden;
  @include device(phone){ // have to be in the end to overwrite
    width: 100%;
    float: none;
    margin-left: 0;
    padding: 0;
  }
  &.first {
    margin-left: 0;
  }
  a {
    display: block;
    > div {
      padding: $margins (3*$margins) 0 0;
      @include device(phone) {
        padding: ($margins/2) (3*$margins) 0 ($margins/2);
      }
    }
  }
  img {
    float: left;
    margin-right: $margins;
    display: block;
    @include device(phone){
      display: none;
    }
  }
}
