div.view-mode-1-4-fact {
  @include clearfix;
  width: (4 * $grid-in-px + 3 * $gutter-in-px);
  float: left;
  padding: 17px;
  border: 1px $gray solid;
  background-color: #FFF;
  text-align: center;
  >p { 
   text-align: left;
   margin: 10px 0;
   padding-top: 10px;
   border-top : 1px solid gray;
  }
  >h3 { 
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    width: inherit;
  }
  >a { 
    background-color: $atp-green;
    color: white;
    display: block;
    padding: 8px 0;

  }
}

div.view-mode-1-2-h, div.view-mode-1-2-l, div.view-mode-1-4-l {
  @include clearfix;
  float: left;
  position: relative;
      
  .group-section-image-overlay {
    position : absolute;
    left : 0;
    bottom : 0;
    background-color: #000;
    opacity: 0.7; 
    width: 100%;
    padding: 10px;
    
    h3 { color: #FFF; }
    p { color: #FFF; margin:0; }
  }
    
}

div.section-row div.not-first div.view-mode-1-2-l,
div.section-row div.not-first div.view-mode-1-4-fact,
div.section-row div.not-first div.view-mode-1-4-l,
{
  margin-left: $gutter-in-px;
  margin-top: $gutter-in-px / 2 ;
  margin-bottom: $gutter-in-px / 2;
}

div.section-row div.first div.view-mode-1-2-h,
div.section-row div.first div.view-mode-1-4-fact,
div.section-row div.first div.view-mode-1-4-l
{
  margin-top: $gutter-in-px / 2;
  margin-bottom: $gutter-in-px / 2;
}

div.view-mode-1-2-l {
  width: (8 * $grid-in-px + 7 * $gutter-in-px);
  height: 126px;
}

div.view-mode-1-2-h {
  width: (8 * $grid-in-px + 7 * $gutter-in-px);
  height: 272px;
}

div.view-mode-1-4-l {
  width: (4 * $grid-in-px + 3 * $gutter-in-px);
  height: 126px;
}


