@import "compass";
@import "singularitygs";
@import "variables";
@import "mixins";
@import "view-modes";

.onecol {
  @include clearfix;
  @include content;
  margin-bottom: 20px;
}
.twocol-left {
  @include clearfix;
  @include content;
  > aside {
    @include grid-span(4, 1);
    padding-top: 2*$margins;
  }
  > article {
    @include grid-span(12, 5);
    padding-left: $margins;
    border-left: 1px solid $gray;
  }
}

/* ADMIN */
.panel-region {
  @include clearfix;
  margin-bottom: $margins;
}
