@import "compass";
@import "singularitygs";
@import "variables";
@import "mixins";
@import "extend";
@import "view-modes";

* {
  @include box-sizing(border-box);
}

.onecol {
  @extend %content;
  @include clearfix;
  @include device(tablet-portrait){
    padding: 0 $margins/2 !important;
  }
  @include device(iphone){
    padding: 0 $margins/2 !important;
  }
}
.twocol-left {
  @extend %content;
  @include clearfix;
  &:after {
    @extend %content;
    background: $body-color;
    content: "";
    height: $margins;
    position: relative;
    z-index: 10;
  }
  > aside {
    @include grid-span(4, 1);
    padding-top: 2*$margins;
    padding-right: $margins;
    @include device(tablet-portrait){
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      display: none;
    }
    @include device(phone){
      display: none;
    }
  }
  > article {
    @include grid-span(12, 5);
    @include device(tablet-portrait){
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 ($margins/2);
    }
    &:before {
      content: "";
      position: fixed;
      z-index: 0;
      margin-left: -$margins;
      border-left: 1px solid $gray;
      height: 2000px;
      @include device(tablet-portrait){
        display: none;
      }
      .stickyhead & {
        top: 0;
      }
    }
  }
}
.twocol-right {
  @extend %content;
  @include clearfix;
  @include margin(0,0,1,0);
  > aside {
    @include grid-span(4, 13);
    @include device(phone){
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      display: none;
    }
  }
  > article {
    @include grid-span(12, 1);
    @include device(phone){
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 ($margins/2);
    }
  }
}

/* ADMIN */
.panel-region {
  @include clearfix;
  margin-bottom: $margins;
}
.panels-dnd {
  hr {
    display: none;
  }
}
