/* ATP colors */
/* GRIDS */
/* MEDIA QUERIES */
/* GRADIENTS */
/* FONTS */
/* FORM ELEMENTS */
/* BTN */
/* VIEWMODES */
.element-invisible { display: none; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #424844; font-size: 13px; font-family: "Tahoma", sans-serif; margin: 0px; padding: 0px; }

html { height: 100%; }

body { background: #f2f1f0; height: 100%; }

a { text-decoration: none; }
a:hover { color: #7c9500; text-decoration: underline; }

h1, h2, h3, h4, header * { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

h1 { margin-bottom: 15px; font-weight: 400; font-size: 28px; }

h3 { font-size: 16px; }

p { margin-bottom: 20px; line-height: 22px; }

.content ul, .content ol { margin-left: 20px; }

body { padding: 20px; }
