/* BREAKPOINTS */
/* COLORS */
/* GRIDS */
/*  HEIGHTS*/
/* MEDIA QUERIES */
/* GRADIENTS */
/* FONTS */
/* FORM ELEMENTS */
/* BTN */
/* VIEWMODES */
/* COLORS */
/* Standard Block */
/* SVG with PNG fallback and retina fallback */
.element-invisible { display: none; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #5f5f5f; font-size: 14px; font-family: "Tahoma", sans-serif; margin: 0px; padding: 0px; }

html { height: 100%; }

body { background: #f2f1f0; height: 100%; }

a { text-decoration: none; }
a:hover { color: #7c9500; text-decoration: underline; }

h1, h2, h3, h4, header * { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

h1 { margin-bottom: 15px; font-weight: 400; font-size: 28px; }
@media screen and (max-width: 500px) { h1 { font-size: 26px; } }

h2 { margin-bottom: 10px; font-weight: 400; font-size: 18px; }

h3 { margin-bottom: 5px; font-weight: 400; font-size: 16px; }

h4 { margin-bottom: 5px; font-weight: bold; font-size: 14px; }

p { margin-bottom: 20px; line-height: 22px; }

.field-field-page-summary *, blockquote { margin-bottom: 20px; font-size: 16px; line-height: 22px; }

.field-field-page-body ul, .field-field-page-body ol { margin: 0 0 15px 20px; }
.field-field-page-body li { margin-bottom: 5px; line-height: 22px; }

.form-required { color: #cc0000; }

.form-item { margin-bottom: 10px; }

input.form-text { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #fff; padding: 0 10px; width: 230px; height: 32px; border: 1px solid #e6e7e4; }
input.form-submit { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin: 10px; padding: 0 15px; height: 32px; border: 0; color: #fff; line-height: 32px; cursor: pointer; }

#user-login label { float: left; display: block; width: 100px; line-height: 32px; }

body.admin-menu { margin-top: 28px !important; }

.tabs { background: #e6e7e4; position: absolute; top: 200px; right: 0; line-height: 22px; list-style: none; }
@media screen and (max-width: 945px) { .tabs { display: none; } }
.tabs a { display: block; padding: 5px 20px; }

.messages { background: #fff; margin-bottom: 20px; padding: 20px; border: 1px solid #e6e7e4; }

/* HEADER */
header { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; background: #fff; margin-bottom: 25px; }
header:before, header:after { content: "."; display: block; height: 0; overflow: hidden; }
header:after { clear: both; }
.front header { margin: 0; }
header:before { background: #424844; position: absolute; z-index: 0; width: 100%; height: 30px; content: ""; }
@media screen and (max-width: 500px) { header:before { display: none; } }
header ul { margin: 0; padding: 0; list-style: none; display: block; }
header li { float: left; }
@media screen and (max-width: 500px) { header li { display: block; float: none; } }
header li a { display: block; }
header li a.active-trail { color: #adc200; }
header li a:hover { color: #adc200; text-decoration: none; }
header > div > .inner { margin: 0 auto; width: 960px; position: relative; }
@media screen and (max-width: 500px) { header > div > .inner { padding: 0; width: 100%; } }
header > .top { height: 101px; border-bottom: 1px solid #adc200; }
@media screen and (max-width: 500px) { header > .top { height: 50px !important; border: 0; }
  .show-menu header > .top { height: auto !important; } }
.front header > .top { height: 100px; border: 0; }
header > .bottom { background: #e6e7e4; }
@media screen and (max-width: 500px) { header > .bottom { display: none; } }
header > .bottom .level-2 { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
header > .bottom .level-2:before, header > .bottom .level-2:after { content: "."; display: block; height: 0; overflow: hidden; }
header > .bottom .level-2:after { clear: both; }
header > .bottom .level-2 li { line-height: 45px; }
header > .bottom .level-2 a { padding: 0 30px; }

#logo { position: absolute; top: 50px; left: 0; }
@media screen and (max-width: 500px) { #logo { top: 20px; left: 20px; }
  #logo img { width: 41px; height: auto; } }

.top-menu { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; position: absolute; top: 0; left: 0; }
.top-menu:before, .top-menu:after { content: "."; display: block; height: 0; overflow: hidden; }
.top-menu:after { clear: both; }
@media screen and (max-width: 500px) { .top-menu { display: none; } }
.top-menu * { color: #fff; text-transform: uppercase; font-size: 11px; line-height: 30px; }
.top-menu > ul > li { margin-right: 35px; }

.main-menu { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; position: absolute; top: 30px; right: 0; }
.main-menu:before, .main-menu:after { content: "."; display: block; height: 0; overflow: hidden; }
.main-menu:after { clear: both; }
@media screen and (max-width: 500px) { .main-menu { display: none; }
  .show-menu .main-menu { position: relative; display: block; width: 100%; } }
.main-menu * { text-transform: uppercase; font-weight: 600; font-size: 14px; }
.main-menu > ul > li { position: relative; }
.main-menu > ul > li:after { background-color: white; background-image: url(../images/linear-gradient(top, #ffffff 0%, #5f5f5f 50%, #ffffff 100%).svg); background-image: -ms-linear-gradient(top, #ffffff 0%, #5f5f5f 50%, #ffffff 100%); position: absolute; top: 21px; right: -1px; display: block; width: 1px; height: 28px; content: ""; }
.no-svg .main-menu > ul > li:after { background-image: url(../images/linear-gradient(top, #ffffff 0%, #5f5f5f 50%, #ffffff 100%).png); }
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { .no-svg .main-menu > ul > li:after { background-image: url(../images/linear-gradient(top, #ffffff 0%, #5f5f5f 50%, #ffffff 100%)@2x.png); } }
@media screen and (max-width: 500px) { .main-menu > ul > li:after { display: none; } }
.main-menu > ul > li.last { background: #f2f1f0; }
@media screen and (max-width: 500px) { .main-menu > ul > li.last { background: transparent; } }
.main-menu > ul > li.last:before { background: rgba(0, 0, 0, 0.1); position: absolute; top: 0; left: 0; display: block; width: 1px; height: 70px; content: ""; }
@media screen and (max-width: 500px) { .main-menu > ul > li.last:before { display: none; } }
.main-menu > ul > li.last:after { background: rgba(0, 0, 0, 0.1); position: absolute; top: 0; right: 0; display: block; width: 1px; height: 70px; content: ""; }
@media screen and (max-width: 500px) { .main-menu > ul > li.last:after { display: none; } }
.main-menu > ul > li > a { padding: 0 17px; line-height: 70px; }
@media screen and (max-width: 500px) { .main-menu > ul > li > a { line-height: normal; padding: 5px 10px; } }

/* MOBILE */
.toggle-menu { position: absolute; top: 20px; right: 20px; display: none; width: 16px; height: 12px; border-top: 2px solid #424844; border-bottom: 2px solid #424844; cursor: pointer; }
@media screen and (max-width: 500px) { .toggle-menu { display: block; } }
.toggle-menu:before { background: #424844; position: absolute; top: 3px; left: 0px; display: block; width: 16px; height: 2px; content: ""; }

.show-mobile { display: none; }
@media screen and (max-width: 500px) { .show-mobile { display: block; } }

.page-wrapper { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
.page-wrapper:before, .page-wrapper:after { content: "."; display: block; height: 0; overflow: hidden; }
.page-wrapper:after { clear: both; }

#main { margin: 0 auto; width: 960px; }
@media screen and (max-width: 500px) { #main { padding: 0; width: 100%; } }
#main aside .menu { margin: 0; padding: 10px 20px; border-left: 3px solid #adc200; list-style: none; }
#main aside .menu a:hover { text-decoration: none; }
#main aside .menu a.active-trail { color: #7c9500; }

footer { background: #e6e7e4; padding-top: 30px; }

.pager { clear: both; text-align: center; }
.pager li { background-image: none; display: inline; list-style-type: none; padding: 0.5em; }
.pager li.current { font-weight: 700; }

.category-a article a { display: block; margin-bottom: 5px; padding: 20px; padding-right: 50px; text-decoration: none; height: 126px; background-image: url(../images/arrow-r.svg); background-color: #fff; background-size: 16px 28px; background-repeat: no-repeat; background-position: right 20px center; }
.no-svg .category-a article a { background-image: url(../images/arrow-r.png); }
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { .no-svg .category-a article a { background-image: url(../images/arrow-r@2x.png); } }
.category-a article a:hover { background-image: url(../images/arrow-r.svg); text-decoration: none; background-color: #f8ffc2; background-size: 16px 28px; background-repeat: no-repeat; background-position: right 20px center; color: #5f5f5f; }
.no-svg .category-a article a:hover { background-image: url(../images/arrow-r.png); }
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { .no-svg .category-a article a:hover { background-image: url(../images/arrow-r@2x.png); } }
.category-a article a a { text-decoration: none; }
.category-a article a a:hover { color: #5f5f5f; }

.category-d { margin-bottom: 15px; }
.category-d > section { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; background: #fff; margin-bottom: 5px; padding: 20px; }
.category-d > section:before, .category-d > section:after { content: "."; display: block; height: 0; overflow: hidden; }
.category-d > section:after { clear: both; }
.category-d > section > article { float: left; width: 50%; }

.news-filter { margin-bottom: 20px; }
.news-filter li { display: inline-block; }
.news-filter li .news-filter-button { cursor: pointer; padding: 5px; background-color: #adc200; color: #fff; }
.news-filter li .news-filter-button.active, .news-filter li .news-filter-button:hover { background-color: #f8ffc2; color: #5f5f5f; }

.news-list section { margin-bottom: 20px; }
.news-list section article { display: block; margin-bottom: 5px; padding: 20px; padding-right: 50px; text-decoration: none; height: 126px; background-image: url(../images/arrow-r.svg); background-color: #fff; background-size: 16px 28px; background-repeat: no-repeat; background-position: right 20px center; }
.no-svg .news-list section article { background-image: url(../images/arrow-r.png); }
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { .no-svg .news-list section article { background-image: url(../images/arrow-r@2x.png); } }
.news-list section article:hover { background-image: url(../images/arrow-r.svg); text-decoration: none; background-color: #f8ffc2; background-size: 16px 28px; background-repeat: no-repeat; background-position: right 20px center; color: #5f5f5f; }
.no-svg .news-list section article:hover { background-image: url(../images/arrow-r.png); }
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { .no-svg .news-list section article:hover { background-image: url(../images/arrow-r@2x.png); } }
.news-list section article a { text-decoration: none; }
.news-list section article a:hover { color: #5f5f5f; }
.news-list section article a { text-decoration: none; }
.news-list section article .date { border-right: 1px solid #e6e7e4; float: left; height: 100%; margin-right: 12px; padding-right: 12px; width: 100px; }
.news-list .pager { margin-bottom: 20px; }
