/* ATP colors */
/* GRIDS */
/* MEDIA QUERIES */
/* GRADIENTS */
/* FONTS */
/* FORM ELEMENTS */
/* BTN */
.element-invisible { display: none; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "Tahoma", sans-serif; color: #424844; font-size: 13px; margin: 0px; padding: 0px; }

html { height: 100%; }

body { background: #f2f1f0; height: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4, header * { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

h1 { font-size: 28px; font-weight: 400; margin-bottom: 15px; }

h3 { font-size: 16px; }

p { line-height: 22px; margin-bottom: 20px; }

.content ul, .content ol { margin-left: 20px; }

.form-required { color: #f42d64; }

.form-item { margin-bottom: 10px; }

input.form-text { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #fff; border: 1px solid #e6e7e4; width: 230px; height: 32px; padding: 0 10px; }
input.form-submit { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin: 10px; cursor: pointer; height: 32px; line-height: 32px; padding: 0 15px; border: 0; color: #fff; }

#user-login label { float: left; display: block; width: 100px; line-height: 32px; }

body.admin-menu { margin-top: 28px !important; }

/* HEADER */
header { background: #fff; margin-bottom: 25px; }
header:before { background: #424844; content: ""; position: absolute; width: 100%; height: 30px; z-index: 0; }
header ul { list-style: none; margin: 0; padding: 0; }
header li { float: left; }
header li a { display: block; }
header li a.active-trail { color: #adc200; }
header li a:hover { color: #adc200; text-decoration: none; }
header > div > .inner { margin: 0 auto; width: 960px; position: relative; }
@media screen and (max-width: 945px) { header > div > .inner { width: 100%; padding: 0 10px; } }
@media screen and (max-width: 700px) { header > div > .inner { width: 100%; padding: 0; } }
header > .top { border-bottom: 1px solid #adc200; height: 100px; }
header > .bottom { background: #e6e7e4; }
header > .bottom .level-2 { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
header > .bottom .level-2:before, header > .bottom .level-2:after { content: "."; display: block; height: 0; overflow: hidden; }
header > .bottom .level-2:after { clear: both; }
header > .bottom .level-2 li { line-height: 45px; }
header > .bottom .level-2 a { padding: 0 30px; }

#logo { position: absolute; left: 0; top: 51px; }

.top-menu { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; position: absolute; left: 0; top: 0; }
.top-menu:before, .top-menu:after { content: "."; display: block; height: 0; overflow: hidden; }
.top-menu:after { clear: both; }
.top-menu * { font-size: 11px; color: #fff; line-height: 30px; }
.top-menu > ul > li { margin-right: 35px; }

.main-menu { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; position: absolute; left: 100px; top: 30px; }
.main-menu:before, .main-menu:after { content: "."; display: block; height: 0; overflow: hidden; }
.main-menu:after { clear: both; }
.main-menu * { font-size: 14px; }
.main-menu > ul > li > a { padding: 0 20px; line-height: 70px; }

.page-wrapper { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; }
.page-wrapper:before, .page-wrapper:after { content: "."; display: block; height: 0; overflow: hidden; }
.page-wrapper:after { clear: both; }

#main { margin: 0 auto; width: 960px; }
@media screen and (max-width: 945px) { #main { width: 100%; padding: 0 10px; } }
@media screen and (max-width: 700px) { #main { width: 100%; padding: 0; } }
#main aside .menu { list-style: none; margin: 0; padding: 10px 20px; border-left: 3px solid #adc200; }
#main aside .menu a:hover { color: #adc200; text-decoration: none; }
#main aside .menu a.active-trail { color: #adc200; }

.pager { clear: both; text-align: center; }
.pager li { background-image: none; display: inline; list-style-type: none; padding: 0.5em; }
.pager li.current { font-weight: 700; }

div.view-mode-1-4-fact { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; width: 225px; float: left; padding: 17px; border: 1px #e6e7e4 solid; background-color: #FFF; text-align: center; }
div.view-mode-1-4-fact:before, div.view-mode-1-4-fact:after { content: "."; display: block; height: 0; overflow: hidden; }
div.view-mode-1-4-fact:after { clear: both; }
div.view-mode-1-4-fact > p { text-align: left; margin: 10px 0; padding-top: 10px; border-top: 1px solid #e6e7e4; }
div.view-mode-1-4-fact > h3 { display: table-cell; height: 40px; vertical-align: middle; width: inherit; }
div.view-mode-1-4-fact > a { background: #adc200; color: #fff; display: block; line-height: 30px; position: relative; }
div.view-mode-1-4-fact > a:before { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; background: #000; content: ""; display: block; width: 100%; height: 1px; position: absolute; left: 0; bottom: 1px; }
div.view-mode-1-4-fact > a:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; background: #000; content: ""; display: block; width: 100%; height: 1px; position: absolute; left: 0; bottom: 0; }
div.view-mode-1-4-fact > a:hover { background: #7c9500; text-decoration: none; }

div.view-mode-1-2-h, div.view-mode-1-2-l, div.view-mode-1-4-l, div.view-mode-1-1-l { /* for IE 6/7 */ *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif"); /* non-JS fallback */ *zoom: 1; float: left; position: relative; }
div.view-mode-1-2-h:before, div.view-mode-1-2-h:after, div.view-mode-1-2-l:before, div.view-mode-1-2-l:after, div.view-mode-1-4-l:before, div.view-mode-1-4-l:after, div.view-mode-1-1-l:before, div.view-mode-1-1-l:after { content: "."; display: block; height: 0; overflow: hidden; }
div.view-mode-1-2-h:after, div.view-mode-1-2-l:after, div.view-mode-1-4-l:after, div.view-mode-1-1-l:after { clear: both; }
div.view-mode-1-2-h .group-section-image-overlay, div.view-mode-1-2-l .group-section-image-overlay, div.view-mode-1-4-l .group-section-image-overlay, div.view-mode-1-1-l .group-section-image-overlay { position: absolute; left: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); width: 100%; padding: 10px; }
div.view-mode-1-2-h .group-section-image-overlay h3, div.view-mode-1-2-l .group-section-image-overlay h3, div.view-mode-1-4-l .group-section-image-overlay h3, div.view-mode-1-1-l .group-section-image-overlay h3 { color: #FFF; }
div.view-mode-1-2-h .group-section-image-overlay p, div.view-mode-1-2-l .group-section-image-overlay p, div.view-mode-1-4-l .group-section-image-overlay p, div.view-mode-1-1-l .group-section-image-overlay p { color: #FFF; margin: 0; }

div.section-row div.not-first div.view-mode-1-2-l, div.section-row div.not-first div.view-mode-1-4-fact, div.section-row div.not-first div.view-mode-1-4-l { margin-left: 20px; margin-top: 10px; margin-bottom: 10px; }

div.section-row div.first div.view-mode-1-2-h, div.section-row div.first div.view-mode-1-4-fact, div.section-row div.first div.view-mode-1-4-l { margin-top: 10px; margin-bottom: 10px; }

div.view-mode-1-2-l { width: 470px; height: 126px; }

div.view-mode-1-2-h { width: 470px; height: 272px; }

div.view-mode-1-4-l { width: 225px; height: 126px; }

div.view-mode-1-1-l { height: 126px; }
div.view-mode-1-1-l h3 { text-transform: uppercase; }
div.view-mode-1-1-l div.group-section-image-overlay { height: 100%; }
div.view-mode-1-1-l p { width: 50%; }
